:root {
	--primary: #0091ff;
	--dark: #061b28;
	--gray: #756388;
	--light: #ffffff;
}
.body{
    background-color: #BCCEF8 !important;
    font-size: 16px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
